/*@import url(https://fonts.googleapis.com/css?family=Lato|Merriweather);*/
@import url(https://fonts.googleapis.com/css?family=Istok+Web|Lora);
@font-face {
	font-family: 'IcoMoon-Free';
	src: url('IcoMoon-Free.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
html,body{
  margin:0;
  padding:0;
  font-family: 'Lora', serif;
  color:rgb(26, 24, 25);
}
body{
  border-top: 2px solid #0056a7;
}
h1,h2,h3,h4,h5,h6,a{
  font-family: 'Istok Web', sans-serif;
  color:black;
}
p {
  text-align:justify;
}
a {
  text-decoration:none;
  color:black;
}

a.admin:before{
    font-family: "icoMoon-free";
    content:"\e906";
    margin-right:0.5em;
}
.wrapper{
    max-width:1024px;
    margin-right:auto;
    margin-left:auto;
}
@media only screen AND (max-width:1024px){
  .wrapper{
  padding:0 1rem;
  }
}
.clear{
  clear:both;
}
.black-bg{
  background-color:black;
}
.grey-bg{
  background-color:#58585a;
}
.white-bg{
  background-color:white;
  color:black;
}
.pad1 {
  padding:1rem 0;
}
.pad2 {
  padding:2rem 0;
}
.pad3 {
  padding:3rem 0;
}
.flex-row-fluid{
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
}
@media only screen AND (max-width:1024px){
  .flex-row-fluid{
    flex-wrap:wrap;
  }
}

@media only screen AND (max-width:600px){
  .flex-row-fluid{
    flex-wrap:wrap;
    flex-direction:column;
  }
}

.flex-center{
  align-items:center;
}
.flex-top{
  align-items:flex-start;
}

.flex0 {
  flex: 0 0 auto;
}
.flex1 {
  flex: 1 1 auto;
}
.flex2 {
  flex: 2 2 auto;
}
.flex3 {
  flex: 3 3 auto;
}
.floatLeft{
  float:left;
}
.floatRight{
  float: right;
}

#logo > a > img {
  /*max-height:150px;*/
  display:block;
  max-width: 90vw;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#logo > a {
  display:block;
  padding:1rem;
  margin:0 1rem;
  font-weight:bold;
  text-decoration:none;
}

#menu > a {
  background-color:black;
  color:white;
  transition: background-color 0.5s ease;
}
#menu > a:hover{
  background-color:#0056a7;
}

#menu > a.home:before{
  font-family: "icoMoon-free";
  content:"\e900";
  margin-right:0.5rem;
}
a.block {
  padding:0.5rem 1rem;
  display:block;
}
#chapeau {
  margin:2rem;
  position:relative;
}

#chapeau > article {
  background-color:#0056a7;
  padding:3rem 0;
}

#chapeau > article > h1,#chapeau > article > h2,#chapeau > article > p {
  magin:0 3rem;
  text-align:center;
  color:white;
}

#chapeau > article > h1 {
  font-size:3rem;
  margin:0 0 3rem 0;
}
#chapeau > article > #goRight,#chapeau > article > #goLeft{
  position:absolute;
  top:0;
  bottom:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#chapeau > article > #goRight{
  right:0;
}
#chapeau > article > #goLeft {
  left:0;
}
#chapeau > article > #goRight > a,#chapeau > article > #goLeft > a{
  display:block;
  text-decoration:none;
  color:white;
  padding:1rem;
  font-size:4rem;
}
#chapeau > article > a.admin{
    text-align:center;
    color:white;
}

section#cookieTrail > p > a{
  color:black;
  font-weight: bold;
  text-decoration: none;
  display:inline-block;
  margin:0 1rem;
}

section#listing {
  padding:0 0 2rem 0;
}

section#listing > article {
  clear:both;
  padding:1rem 0;
  border-bottom:1px solid #3498db
}

section#listing > article:last-child {
  border-bottom:none;
}

section#listing > article > a.listingFloat{
	padding:0;
	float:left;
	margin-right:1rem;
}
section#listing > article > a.listingFloat > img{
	display:block;
	max-height:150px;
	max-width:150px;
}
section#calendar {
	margin-left:1rem;
	padding-left:1rem;
	border-left: 1px solid #05afef;
}

section#calendar > h1 {
	text-align:center;
}
section#article > article > h1{
	text-align:center;
	font-size:3rem;
}

section#article > article > h2{
	text-align:justify;
	font-weight:normal;
	line-height:150%;
	margin-bottom:5rem;
}

section#article > article > p {
	text-indent:1.5em;
	max-width:40em;
	margin:1rem auto;
	line-height:200%;
}


/* NOTE Administration style */
#blackout{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:hsla(360, 0%, 0%, 0.7);
  display:flex;
  align-items: center;
  justify-content: center;
}
#blackout #popup{
  background-color:white;
  max-width:1024px;
  padding:2em;
  position:relative;
}
#blackout #popup #closePopup{
  position:absolute;
  top:0;
  right:0;
  margin:-1em -1em 0 0;
  width:1em;
  height:1em;
  text-align:center;
  padding:1em;
  background-color:hsla(360, 0%, 20%, 1);
  color:white;
  border-radius: 2em;
  cursor:pointer;
}
